################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SandBoxSharePointFramework/obj/Debug
/SandBoxSharePointFramework/Package
