################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/SandBoxSharePointFramework/obj/Debug
node_modules
/WebComponents/buildlocal
/WebComponents/buildSP
/SandBoxSharePointFramework-old
/SandBoxSharePointFramework/*.wsp
/**/*.wsp